set(autostart ${PLUGIN_SHAREDSTORAGE_AUTOSTART})
set(preconditions Platform)
set(callsign "org.rdk.SharedStorage")

if(PLUGIN_SHAREDSTORAGE_STARTUPORDER)
set (startuporder ${PLUGIN_SHAREDSTORAGE_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_SHAREDSTORAGE_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
