set (autostart ${PLUGIN_APP_MANAGER_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.AppManager")

if(PLUGIN_APP_MANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_APP_MANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_APP_MANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)