set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.Telemetry")

if(PLUGIN_TELEMETRY_STARTUPORDER)
set (startuporder ${PLUGIN_TELEMETRY_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_TELEMETRY_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
        kv(t2PersistentFolder ${PLUGIN_T2_PERSISTENT_FOLDER})
        kv(defaultProfilesFile ${PLUGIN_DEFAULT_PROFILES_FILE} )
    end()
end()
ans(configuration)
