set (autostart ${PLUGIN_STORAGE_MANAGER_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.StorageManager")

if(PLUGIN_STORAGE_MANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_STORAGE_MANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_STORAGE_MANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
    kv(path ${PLUGIN_STORAGE_MANAGER_PATH})
end()
ans(configuration)