set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.RDKWindowManager")

if(PLUGIN_RDK_WINDOW_MANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_RDK_WINDOW_MANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_RDK_WINDOW_MANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)